.anime-container {
  padding: 40px 0;
}

.anime-image {
  h2 {
    margin-bottom: 1rem;
  }
}

.anime-image,
.anime-sinopse,
.anime-trailer {
  h3 {
    margin-bottom: 1rem;
  }

  p {
    max-width: 1280px;
    margin: 0 auto;
    font-size: 1.25rem;
  }

  margin-bottom: 3rem;
}
