:root {
  --text: #170b08;
  --background: #fcf9f8;
  --primary: #d34c31;
  --secondary: #ec917e;
  --accent: #ef6c52;
  --border-radius: 16px;
  --header-color: black;
  --valid: #e7f5e6;
  --invalid: #fad9d9;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: var(--background);
  color: var(--text);
  min-height: 100vh;
  display: flex;

  flex-direction: column;
}

main,
footer {
  padding: 1rem;
  text-align: center;
}

main {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  flex-grow: 1;
}

img,
iframe {
  border-radius: var(--border-radius);
}

img {
  max-width: 100%;
  margin: 0 auto;
}

/* HEADER */

@keyframes widthAnimation {
  from {
    width: 0%;
    background-color: var(--background);
  }
  to {
    background-color: var(--primary);
    width: 80%;
  }
}

.header {
  position: sticky;
  top: 0;
  background-color: var(--header-color);
  font-size: 1.2rem;
  width: 100%;
  margin-bottom: 1rem;
  padding: 0 1rem;
}

.header nav {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;

  display: flex;
  align-items: center;

  justify-content: space-between;
}

.header .logotipo {
  margin-top: 5px;
}

.header .logotipo img {
  max-width: 100px;
  width: 100%;
}

.header ul {
  display: flex;
  align-items: center;
  jusitfy-content: center;

  gap: 1rem;
}

.header li {
  display: inline-block;
}

.header ul:hover li:not(:hover) {
  opacity: 0.5;
}

.nav-link {
  text-decoration: none;
  color: var(--text);
  padding: 10px 20px;
  position: relative;
  color: var(--background);
  max-height: 50px;
}

.nav-link:hover::before,
.header ul:not(:hover) .nav-link-active::before {
  content: "";
  position: absolute;
  width: 80%;
  top: 0;
  right: 10%;
  height: 4px;
  background: var(--primary);
  border-radius: var(--border-radius);
  animation: widthAnimation 0.5s ease-out;
}

.nav-link:hover::after,
.header ul:not(:hover) .nav-link-active::after {
  content: "";
  position: absolute;
  width: 80%;
  bottom: 0;
  left: 10%;
  height: 4px;
  background: var(--primary);
  border-radius: var(--border-radius);
  animation: widthAnimation 0.5s ease-out;
}

/* ---> END HEADER <--- */

.page-location {
  display: block;
  margin-bottom: 5rem;
  text-align: start;
}

/* FOOTER */

footer {
  background-color: var(--header-color);
  color: var(--background);
  padding: 3rem 0;
  margin-top: 5rem;
}

/* DIVISOR */

@keyframes gradientAnimation {
  0% {
    background-position: 0% 0;
  }
  100% {
    background-position: 100% 0;
  }
}

/* divisor is used in Animes page */
.divisor {
  margin: 2rem auto;
  width: 80%;
  height: 8px;
  border-radius: var(--border-radius);
  background: linear-gradient(
    to right,
    var(--primary),
    var(--secondary),
    var(--accent)
  );
  background-size: 50% 100%;
  animation: gradientAnimation 1s linear infinite;
}

/* BUTTON */

.button {
  padding: 8px 32px;
  border-radius: var(--border-radius);
  background-color: var(--primary);
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  border: 2px solid transparent;
  font-weight: bold;
}

.button:hover {
  cursor: pointer;
  transform: translate(0, -2px);
}

/* MEDIAS QUERYS */

@media (max-width: 600px) {
  .header {
    text-align: center;
    padding: 0 0 2rem 0;
  }

  .nav-link {
    padding: 10px;
  }

  .header nav {
    flex-direction: column;
    gap: 1rem;
  }

  .page-location {
    margin-bottom: 3rem;
  }
}
